header .main-menu {
  float:right;
  position:relative;
  bottom:-3em;
  right:2em;
  font-size:1.5em;

  li {
    float:left;
    margin-right:2em;
    text-decoration:none;
    list-style:none;
  }
  a {
    text-decoration:none;
    color:#000;
    :visited {
      color:#000;
    }
  }

}